*{
  margin: 0;
  padding: 0;
}
.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(34, 34, 34);
  
}
.board-container{
  width: 600px;
  height: 600px;
  
}
.board{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  

}
.square{
  width:12.5% ;
  height: 12.5%;

}
.square_black{
  background: #B59963;
}
.square_white{
  background: #f0d9b5 ;
}
.board_square{
  width: 100%;
  height:100%;
}
.piece_container{
cursor: grab;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.piece{
  max-height:70%;
  max-width: 70%;
}